.row_footer {
   display: flex;
   flex-wrap: wrap;
}

.column_footer {
   flex: 1;
   padding: 10px;
   height: 270px;
   color: #ffffffe8;
}

.text_footer{
   text-decoration: none;
   color: #ffffffe8;
}

.text_footer_2{
   text-decoration: none;
   color: #ffffffe8;
}

.trait_footer{
   font-size: 25px;
   font-family: 'Oswald';
}

.insert_footer{
   margin: 5px;
}

.footer {
   background-color: #252525be;
   padding: 10px;
   text-align: center;
   font-family: 'Roboto';
}

a:hover {
   color: #00132b;
}

.flex-container_footer {
   display: flex;
   flex-direction: column;
   height: 270px;
   width: 50%;
   flex-wrap: wrap-reverse;
}

.flex-item_footer {
   width: 100%;
   height: 120px;
   margin: 5px;
   text-decoration: none;
   color: #ffffffe8;
}

.fa {
   padding: 20px;
   font-size: 30px;
   width: 70px;
   text-align: center;
   text-decoration: none;
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
   background: #3B5998;
   color: white;
}

.fa-twitter {
   background: #55ACEE;
   color: white;
}

.fa-instagram {
   background: #125688;
   color: white;
}

.fa-pinterest {
   background: #cb2027;
   color: white;
}